body {
    background-color: #3a4d4d;
    text-align: center;
}
#back {
    background-color: #475d5d;
    color: white;
    font-family: "Amiri Quran", serif;
    text-align: center;
    box-sizing: border-box;
    min-width: 35ch;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
}
#content {
    color: #979797;
}
h4 {
    text-align: left;
}